:root {
  /* Primary */
  --color-primary: hsl(246, 80%, 60%);
  
  /* Categories */
  --color-work: hsl(15, 100%, 70%);
  --color-play: hsl(195, 74%, 62%);
  --color-study: hsl(348, 100%, 68%);
  --color-exercise: hsl(145, 58%, 55%);
  --color-social: hsl(264, 64%, 52%);
  --color-self-care: hsl(43, 84%, 65%);
  
  /* Neutral */
  --color-bg-dark: hsl(226, 43%, 10%);
  --color-bg-card: hsl(235, 46%, 20%);
  --color-text-muted: hsl(235, 45%, 61%);
  --color-text-light: hsl(236, 100%, 87%);
}

*
{
	box-sizing: border-box;
	margin: 0;
}

body {
  background-color: var(--color-bg-dark);
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

.grid-container
{
	display: grid;
	grid-template-columns: 1fr 3fr;
	gap: 1.5rem;
	max-width: 900px;
	margin: 0 auto;
}

.profile-grid
{
	display: grid;
	grid-template-rows: auto auto;;
}

.activity-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}

@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
  
  .activity-grid {
    grid-template-columns: 1fr;
  }
}